ID_BACKGROUND RCDATA "assets/background.png"

ID_AND RCDATA "assets/and.png"
ID_OR RCDATA "assets/or.png"
ID_NOT RCDATA "assets/not.png"
ID_NAND RCDATA "assets/nand.png"
ID_NOR RCDATA "assets/nor.png"

ID_INPUT RCDATA "assets/input.png"
